<section class="login-section">
  <form>
    <p class="form-field">
      <label for="uid">email</label>
      <input type="email" name="uid" />
    </p>

    <p class="form-field">
      <label for="pwd">password</label>
      <input type="password" name="pwd" />
    </p>

    <button type="submit">Login</button>
  </form>
</section>
